@charset "UTF-8";
@import "/stylesheets/normalize/normalize.css";
@import "/stylesheets/core-css/viewport.css";
@import "/stylesheets/core-css/details.css";
@import "/stylesheets/core-css/dialog.css";
@import "/stylesheets/core-css/animations.css";
@import "/stylesheets/core-css/links.css";
@import "/stylesheets/core-css/class_rules.css";
@import "/stylesheets/core-css/misc.css";
@import "/stylesheets/core-css/fonts.css";
@import "custom.css";
@import "sidebar.css";
@import "mobile.css";

:root {
	/*================= Set color vars here =================*/
	--default-color: rgb(252, 252, 252);
	--alt-color: rgb(41, 41, 41);
	--primary-color: rgb(237, 24, 24);
	--highlight-color: rgb(129, 23, 23);
	--link-color: hsl(209, 62%, 45%);
	--visited-color: #551A8B;
	--border-color: rgb(45, 45, 45);
	--default-cursor: url('../../../images/cursors/Arch-black.svgz'), auto;
	--pointer: url('../../../images/cursors/3D_hand_cursor.svgz'), pointer;
	/*========== Set background images, etc here ==========*/
	--main-bg: url(../../images/backgrounds/dark_abstract.svgz);
	--glass-grad: linear-gradient(to top left, rgba(80, 80, 80, 0.7), rgba(140, 140, 140, 0.9), rgba(40, 40, 40, 0.7));
	--shadow: rgba(20, 20, 20, 0.9);
	--tint-glass: linear-gradient(rgba(40, 40, 40, 0.8), rgba(80, 80, 80, 0.7));
	--header-bg: linear-gradient(rgba(40, 40, 40, 1), rgba(80, 80, 80, 0.97));
	--progress-grad: linear-gradient(var(--highlight-color), var(--primary-color), var(--highlight-color));
	/*==================== Set fonts here ====================*/
	--header-font: 'PressStart';
	--article-font: 'Ubuntu';
	--article-header-font: var(--header-font);
	--icon-font: 'Web Symbols';
	/*================ Set various icons here ================*/
	--link-icon: '  K';
	--tag-icon: '  , ';
	--new-tab-icon: '  D';
	--download-icon: '  A';
	--next-icon: ')';
	--prev-icon: '(';
	--unchecked-icon: '  \\';
	--checked-icon: '  .';
	--dropdown-open-icon: '[ ';
	--dropdown-closed-icon: '] ';
	--close-icon: '\'';
	--search-icon: 'L';
	--attachmnent-icon: 'A';
	--fullscreen-icon: '%';
	/*================== Set cursors here ==================*/
	--default-cursor: url('../../../images/cursors/Arch-black.svgz'), auto;
	--pointer: url('../../../images/cursors/3D_hand_cursor.svgz'), pointer;
	/*============= Various sizes and positions =============*/
	--main-width: 90%;
	--article-width: 67%;
	--sidebar-width: calc(97% - var(--article-width));
	--article-position: 2;
	--sidebar-position: 1;
	/*This is the max z-index value. Others can use calc(var(--z-max) - n)*/
	--z-max: 100;
}
